#CircleButton {
  background: SteelBlue;
}
#ParallelogramButton {
  background: SeaGreen;
}
#TriangleButton {
  background: Crimson;
}
.compute {
  border-radius: 4px;
  height: 30px;
  width: 50px;
}
.fieldname {
  width: 70px;
}
.inputtable {
  height: 80px;
}
.tabbutton {
  border-radius: 4px;
  height: 30px;
  width: 70px;
}
body {
  background: LightCoral;
}
